
html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;   /* horizontal centering */
  align-items: center;       /* vertical centering */
  background: #111;
}

#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
